:root {
    --effect: hover 1s linear infinite;
  }
  *{
     margin:0;
  }
  body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: black;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  div {
    text-align: center;
  }
  p {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    font-family: arial;
    font-weight: 600;
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }
  p:nth-child(1) {
    animation: var(--effect);
  }
  p:nth-child(2) {
    animation: var(--effect) .125s;
  }
  p:nth-child(3) {
    animation: var(--effect) .25s;
  }
  p:nth-child(4) {
    animation: var(--effect) .375s;
  }
  p:nth-child(5) {
    animation: var(--effect) .5s;
  }
  p:nth-child(6) {
    animation: var(--effect) .675s;
  }
  p:nth-child(7) {
    animation: var(--effect) .75s;
  }
  @keyframes hover {
    0% {
      transform: scale(.5);
      color: #121212;
      -webkit-text-stroke: 2px gray;
    }
    20% {
      transform: scale(1);
      color: pink;
      -webkit-text-stroke: 3px red;
      filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
    }
    50% {
      transform: scale(.5);
      color: #121212;
      -webkit-text-stroke: 2px gray;
    }
  }
    .leaf{
        position:absolute ;
        width:100%;
        height:100%;
        top:0;
        left:0;
    }
    .leaf div{
    position:absolute ;
    display:block ;
    }
    .leaf div:nth-child(1){
        left:20%; 
        animation:fall 15s linear infinite ;
        animation-delay:-2s;
    }
    .leaf div:nth-child(2){
        left:70%; 
        animation:fall 15s linear infinite ;
        animation-delay:-4s;
    }
    .leaf div:nth-child(3){
        left:10%; 
        animation:fall 20s linear infinite ;
        animation-delay:-7s;
    }
    .leaf div:nth-child(4){
        left:50%; 
       animation:fall 18s linear infinite ; 
       animation-delay:-5s;
    }
    .leaf div:nth-child(5){
        left:85%; 
        animation:fall 14s linear infinite ;
        animation-delay:-5s;
    }
    .leaf div:nth-child(6){
        left:15%; 
        animation:fall 16s linear infinite ;
        animation-delay:-10s;
    }
    .leaf div:nth-child(7){
        left:90%; 
        animation:fall 15s linear infinite ;
        animation-delay:-4s;
    }
    @keyframes fall{
        0%{
            opacity:1;
            top:-10%;
            transform:translateX (20px) rotate(0deg);
        }
        20%{
            opacity:0.8;
            transform:translateX (-20px) rotate(45deg);
        }
        40%{
    
            transform:translateX (-20px) rotate(90deg);
        }
        60%{
            
           transform:translateX (-20px) rotate(135deg); 
        }
        80%{
        
            transform:translateX (-20px) rotate(180deg);
        }
        100%{
            
            top:110%;
            transform:translateX (-20px) rotate(225deg);
        }
        }
    .leaf1{
        transform: rotateX(180deg);
    }
     #content{
        display: none ;

    } 
    #data{
      display: none
    }

/* Modal */ 
label {
   display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.input-text, input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid #e1e1e1;
    background-color: lemonchiffon;
}
textarea.form-control {
    height: auto;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
background-color: lemonchiffon;
  margin-bottom: 25px;
  border-radius: 0;
  height: 45px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 37px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: blue; /* Fallback color */
  background-color:ghostwhite; /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 33px;
  border: 1px solid #888;
  width: 40%;
}
/*Close */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -22px;
    right: 6px;
}
.close:hover,
.close:focus {
  color:wheat;
  text-decoration: none;
  cursor: pointer;
}